body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container img{
    margin-left: 60px;
}

.login-container h2 {
    margin-left: 100px;
    margin-bottom: 20px;
}

.login-form label,
.login-form input {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    padding: 10px 15px;
    background-color: #db4f66;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form .btn-register{
    margin-left: 88px;
}

.login-form a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}
